// 背景色
$PageMainColor: #f2f2f2;  // 内容区背景色

// 字体颜色

// 盒子模型
$BoxShadow:  1px 1px 2px 0 rgba(0, 0, 0, 0.2);  // 小控件背景阴影
$BoxShadowHovered:  1px 1px 5px 0 rgba(0, 0, 0, 0.2);  // 小控件背景阴影 悬浮时
$BigBoxShadow:  1px 1px 5px 2px rgba(0, 0, 0, 0.2);  // 小控件背景阴影 悬浮时