.el-header, .el-main, .el-footer {
  padding: 0 !important;
}
.el-menu.el-menu--horizontal {
  border-bottom: none !important;
  height: 45px !important;
  margin-left: 5%;
}
/* 使用 :deep() 选择器 */
.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
  border-bottom: none !important;
}
.el-menu--horizontal>.el-menu-item {
  border: none !important;
  font-size: 15px !important;
}
.el-menu--horizontal>.el-sub-menu .el-sub-menu__title {
  border: none !important;
  font-size: 15px !important;
}
.el-dialog__header {
  background-color: var(--el-color-primary); /* 设置你想要的背景颜色 */
  color: #fff; /* 设置文字颜色，确保文字与背景对比度足够 */
  padding-bottom: 20px !important;
}
.el-dialog__headerbtn {
  top: 0 !important;
  background-color:  var(--el-color-primary) !important;
  color: #fff !important;
  height: 64px !important;
}
.el-dialog__body {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}
.el-dialog__close {
  color: #fff !important;
}
.el-dialog__title {
  color: #fff !important;
}
#nprogress .bar {
  height: 2px !important;
  background: var(--el-color-primary) !important;
}
.el-drawer__header {
  margin-bottom: 0 !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #e7e5e4;
}
.custom-popover .el-popover__wrapper {
   min-width: 50px;
 }
.el-dropdown-menu__item:not(.is-disabled):hover { //鼠标悬停样式
  background-color: var(--el-color-primary-light-5) !important;
  color: #fff !important;
  svg {
    fill: #fff;
  }
}

.el-tree-node.is-current .el-tree-node__label {
  color: #fff !important;
}

svg {
  width: 1em;
  height: 1em;
}


